doctype html
html
  head
    title=title
    block script
    block style
    
  body
    nav#navbar
      ul
        div#logo
          img(src='/static/images/Logo.png')
        li #[a(href='/') Home]
        li #[a(href='/') Dances]
        li #[a(href='/') Services]
        li #[a(href='/') About Us]
        li #[a(href='/contact') Contact Us]
    section#introsection
        div Well Come To The Rx Dance Academy
        div.small Dancing in my Hobby
  
    block content
    block footer
      footer#footer
        | wwww.Rxacademy.com 2023|2030 
        strong copyright © 